{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">类型</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">动作</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">国家</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">动作</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">年代</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">动作</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">剧情</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>

            </div>
        </nav>
        <hr>
        <div class="text-center my-2"><h2>新片速递</h2></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail img-fluid" src="{% static 'img/film/fengmian.jpg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h5 class="card-title">钢铁侠(2008)<span class="badge badge-light text-danger">9.0</span>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail img-fluid" src="{% static 'img/film/fengmian.jpg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h5 class="card-title">钢铁侠(2008)<span class="badge badge-light text-danger">9.0</span>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail img-fluid" src="{% static 'img/film/fengmian.jpg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h5 class="card-title">钢铁侠(2008)<span class="badge badge-light text-danger">9.0</span>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail img-fluid" src="{% static 'img/film/fengmian.jpg' %}"
                         alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <h5 class="card-title">钢铁侠(2008)<span class="badge badge-light text-danger">9.0</span>
                                </h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
