{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-2 text-center">山猪的影库</h1>
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'img/user/head.jpeg' %}" alt="" class="img-fluid img-thumbnail rounded-circle"
                     width="150" height="150">
            </div>
            <div class="col-md-9">

            </div>
        </div>
        <hr>
    <h2>我的影评</h2>
    </div>
{% endblock %}
