{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item"><a href="#">影评</a></li>
                        <li class="breadcrumb-item"><a href="#">钢铁侠影评</a></li>
                    </ol>
                </nav>
                <h1>一封迟到500年的道歉信，3D的</h1>

                <div class="media">
                    <img src="{% static 'img/user/head.jpeg' %}" alt="" width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">山猪
                            <small class="text-muted">评论：<a href="">钢铁侠</a></small>
                        </h5>
                        <h6 class="text-muted"><span class="mr-3">2018-06-23</span>点赞<span
                                class="badge badge-pill badge-info">464</span>评论<span
                                class="badge badge-pill badge-success">21</span></h6>
                    </div>
                </div>


                <div class="alert alert-secondary" role="alert">
                    1854年，一位印第安人酋长给“在华盛顿特区的大首领”写下这句话。他与他的族人已经拼尽了最后的一分力量，年轻的猎手们已牺牲殆尽，年老体弱者被疾病缠身……没有人听到他们的哀嚎与怒吼，没有人在乎这已在灭族边缘的古老部族。酋长已经看到了故事的结局：守不住了，再也守不住了……这土地，祖先的土地……那些白人殖民者端着他们的步枪，一波又一波地出现在地平线上……
                </div>
                <div>
                    “如果我们放弃这片土地，转让给你们，你们一定要记住：这片土地是神圣的。”
                    　　
                    　　1854年，一位印第安人酋长给“在华盛顿特区的大首领”写下这句话。他与他的族人已经拼尽了最后的一分力量，年轻的猎手们已牺牲殆尽，年老体弱者被疾病缠身……没有人听到他们的哀嚎与怒吼，没有人在乎这已在灭族边缘的古老部族。酋长已经看到了故事的结局：守不住了，再也守不住了……这土地，祖先的土地……那些白人殖民者端着他们的步枪，一波又一波地出现在地平线上……
                    　　
                    　　“他们会来的，就像永不停歇的雨。”——电影《阿凡达》。
                    　　
                    　　在2010年的最冷的一天里我盼来了期待已久的视觉盛宴，科技进步创造出的华丽纵然让人惊叹，但却并没能让我感动。《阿凡达》技术上的巅峰位置毋庸置疑，但从“电影本身”来讲，却乏善可陈——甚至可以说缺乏原创性。抛开整个创意与《风中奇缘》的相似，在众多场景中都能找到《天空之城》的影子；灵魂之树下的治疗仪式和《幽灵公主》中湖边的一幕如出一辙；人形机器战甲不能追溯回高达也至少可以说和沃卓斯基的《骇客帝国》有雷同，而哈里路亚山更是酷似徐克的新蜀山；更别提那个脸谱得不得了的大反派，他简直可以塞到所有反战电影里演个无人性长官而游刃有余，如此没有层次没有个性的人物加上影片视觉上的特点，让我恍惚生出“正在看动画片”的错觉。
                    　　
                    　　用来娱乐是够了，但偏偏，詹姆斯·卡梅隆想说的更多。
                    　　
                    　　《阿凡达》在美国上映前一个月，有一条没人关注的新闻占据了报纸的小小角落。2009年11月5日，奥巴马总统表示他将改善印第安人生活状况，并承诺给他们“实现美国梦的公平机会”。这是全美印第安人部落首领大会15年来首次召开。印第安人作为美国“原住民”（Native
                    American），1/4的人生活在贫困线下，暴力犯罪率是全国平均水平的20倍以上，人口中受大学教育的比率则是平均值的1/2。
                    　　
                    　　酋长们抱怨自己和一些联邦参议员的会面之间还不到15分钟，要把所有困难讲完都不够……
                    　　
                    　　奥巴马总统讲话后20天，就是感恩节了。虔诚的家庭都要欢聚一堂，在油乎乎的火鸡和大碗土豆泥前祈祷感恩。
                    　　
                    　　可是大多数美国人都不知道感恩节——这个真正的新大陆节日的由来。
                    　　
                    　　1620年，一艘船载着102名清教徒从英国来到了新大陆，在饥寒交迫的日子里，是印第安人给他们食物，教会他们狩猎与种植，让他们熬过了那个冬天。
                    　　
                    　　1620年北美大陆的那个冬天也许特别寒冷，让“五月花号”的102名殖民者永远记住了感恩；1620年北美大陆的那个冬天也许还不够冷，没有让他们记住自己真正的恩人并非天父，而是那些棕色皮肤的“异教徒”。
                    　　
                    　　1621年，殖民者活了下来。1622年，战争爆发了，它被后世称为“印第安人战争”——一场施恩者与受恩者、主人与客人之间的战争。这荒谬的战争迅速演变成一边倒的杀戮，火枪是主要武器，霍乱和天花是帮凶，一直持续到1890年才结束。
                    　　
                    　　15世纪末新航路开辟后的短短100年间，美洲印第安人踪人口从4000万锐减95%，而500年后的今天，美国仅存300万印第安人。
                    　　
                    　　潘朵拉星球是个再明显不过的比喻，它富饶却危险，美丽而致命，吸引了无数自觉勇敢的探险者，对于他们来说，这只是一场游戏。500年前，探险者们受“黄金帝国”的诱惑和荷尔蒙的驱使铤而走险；而对于潘朵拉星球的掠夺者们来说，“阿凡达化身”的出现让生命——这种冒险活动的最低筹码也可以不被支付，对于人类来说，这是一场角色扮演游戏：你可以游览新世界，骑六条腿的马，顺带泡土著妹妹。可是对于纳威人来说，对于印第安人来说，对于非洲土著来说，对于面对着火枪和大炮的，祖祖辈辈生活在他们“自己的土地”上的人来说，这长达500年的“游戏”，如噩梦般残酷。
                    　　
                    　　《阿凡达》其实是一封迟来500年的道歉信：“对不起，我们推倒了那么多树木，修建铁路；对不起，我们为了金矿，杀死了你的家人；对不起，我们被你们从风雪中拯救，刚刚暖和过来，就把利刃插入你的胸膛。”我们心里都清楚，为了娱乐你和我，电影硬生生的给了我们一个完美结局：这猎杀的游戏本就该在直升机坠落、女机师牺牲的那一刻结束——所有的反抗者都会死，生存下来的纳威人则永远也不能重拾他们的精神传统。再强劲的弓弩也不能射穿防弹玻璃，再伟大的猎手也无法召唤丛林巨兽，再幸运的原住民也不可能拥有手榴弹。
                    　　
                    　　是的，如果一切就结束在直升机坠落的时刻。你听到注定胜利的一方嚣张的大笑了吗？你黄色的眼睛无神地望向天空，你胸前的伤口汩汩流出献血，你的呼吸越来越急促，你回忆起从小听到的故事，你试图找到接引你的神祇……可你听到一双牛皮靴踏在泥泞中，向你走来，那声音让你觉得冷；你看到了黑洞洞的枪口。在这一刻，你不是战士，这不是战死，这是处决。可是你没有罪。有罪的是他们。你是他们不当作人的人，你爱着他们不爱的土地。
                    　　
                    　　枪响。
                    　　
                    　　这结局在历史上重复了多少遍？这结局不出自剧本，出自历史。
                    　　
                    　　特库姆塞，最后一位团结起印第安人部落和白人殖民者对抗的酋长，在慷慨赴死之前说：“自哈里森（总统）之后每20年选出的最高首领都会死，他死的时候你们将会想起我的人民的死亡。”自1840年起，每一个在尾数为0的年份当选的美国总统都死在任上，第一个例外直到里根遇刺未亡才出现。
                    　　
                    　　关于这个诅咒说法众多，但这仇恨千真万确。
                    　　
                    　　《阿凡达》，一封迟来500年的道歉信，3D的，却不够真诚。直到最后，詹姆斯·卡梅隆也不愿意让应该忏悔的人们好好忏悔，在应该残忍的时刻，没能残忍到底。是的，消费者们永远有权利要求一个皆大欢喜的结局，永远有权利笑着走出电影院，去参加圣诞派对。
                    　　
                    　　“——好吧，那些蓝色的家伙们是让我觉得有点不舒服，可是……管它呢，一切都是假的啊！”
                    　　
                    　　今天，当无比清晰，无比震撼，无比鲜艳，无比美妙的奇观呈现在我的面前，我感到这不是潘朵拉星球，在地球上，也曾有过这美丽绝伦的地方，也曾有过这原生、无杂的生态，也曾有过能够倾听自然声音的人类。是我们把它毁掉了。我们不但毁掉了它，我们还正在毁掉它，我们无一丝忏悔，无一分犹疑，20年后，地球上最后的“潘朵拉”——亚马逊雨林，天然的物种宝库，用人力再也无法重建的超级生态圈，将不复存在。
                    　　
                    　　“如果我们放弃这片土地，转让给你们，你们一定要记住：这片土地是神圣的……清风给了我们的祖先第一口呼吸，也送走了祖先的最后一声叹息……
                    你们一定要照顾好这片土地上的动物……降临到动物身上的命运终将也会降临到人类身上……告诉你们的孩子，他们脚下的土地是祖先的遗灰，土地存留着我们亲人的生命。像我们教导自己的孩子那样，告诉你们的孩子，大地是我们的母亲。任何降临在大地上的事，终将会降临在大地的孩子身上。”
                    　　
                    　　这位印第安人酋长叫做西雅图，美国西北部的最大城市以他的名字命名。写下这封信后，他最终还是率领部族，迁入政府指定的保护区，永远失去了这片神圣的土地。
                    　　
                    　　我等待着，降临在这大地上的事，降临到我们所有人身上——不仅仅是殖民地白人，所有因贪念而种下罪恶的人——我们。
                    　　
                    　　我等待着，无奈，但，一切早已注定。
                </div>
                <hr>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning">分享</button>
                    <button type="button" class="btn btn-success">点赞</button>
                </div>
                <hr>
                <form action="" method="post">
                    <div class="input-group">
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                        <div class="input-group-prepend">

                            <button type="submit" class="btn btn-info">提交评论</button>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="media">
                    <img class="mr-3" src="{% static 'img/user/head.jpeg' %}" alt="Generic placeholder image" width="50"
                         height="50">
                    <div class="media-body">
                        <h5 class="mt-0">山猪</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2><a href="">钢铁侠影评</a></h2>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">豆瓣8.3 叙利亚的哭声！</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">世界上若有十分美，九分在耶路撒冷，世界上若有十分惨，九分在叙利亚、巴勒斯坦、也门等国家。</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        他们也写了钢铁侠影评
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="media">
                                <img class="mr-3" src="{% static 'img/user/head.jpeg' %}"
                                     alt="Generic placeholder image" width="50" height="50">
                                <div class="media-body">
                                    <h5 class="mt-0">Media heading</h5>
                                    <h6>婴无儿嫂，何处逢生？</h6>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}